@font-face {
    font-family:'alegreya';
    src: url(fonts/Alegreya-Italic-VariableFont_wght.ttf);
}
*{
    margin: 0%;
    padding: 0;
}
/**header**/
.header-content{
    height: 45px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/**navbar**/
.header-all-button{
    font-size: 1.5rem;
    margin-left: 10px;
    color: black;
    width: 50px;
    font-family: Edwardian Script ITC, French Script MT, Lucida Handwriting, and Monotype Corsiva;
    padding-bottom: 10px;
    margin-top: 8px;
}
.header-all-button i{
    font-size: 1rem;
}
 .dropbtn {
      border: none;
      width: 100%;
      cursor: pointer;
      background-color: white;
    }

    /* Dropdown menu */
    .dropdown-content {
      position: fixed;
      top: 0;
      left: -350px; /* Hidden by default */
      height: 100%;
      width: 350px;
      background-color: white;
      box-shadow: 2px 0 5px rgba(0,0,0,0.2);
      overflow-y: auto;
      transition: left 0.3s ease;
      z-index: 999;
      justify-content: space-between;
    }
    .dropdown-content.show {
      left: 00px; /* Slides in next to the sidebar */
    }
    .dropdown-content a {
      display: block;

      color: black;
      text-decoration: none;
      border-bottom: 1px solid #eee;
      font-family: 'alegreya' , sans-serif;
      font-weight: 600;
      font-size: 36px;
    }
.dropdown-content i{
  font-weight: lighter;
  font-size: 25px;
}
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    /* Overlay background */
    .overlay {
      position: fixed;
      top: 0;
      left: 200px;
      width: calc(100% - 200px);
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 998;
      display: none;
    }

    .overlay.show {
      display: block;
    }

/**2 part of navbar**/
.header-content-2 li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    font-size: 2rem;
    margin-right: 15px;
    font-family: Edwardian Script ITC, French Script MT, Lucida Handwriting, and Monotype Corsiva;
    color: black;
    padding-bottom: 2px;
}
.header-content-2 a{
    text-decoration: none;
}
.box:hover{
    border-bottom: 3px solid black ;
    border-radius: 2px;
    font-weight: 900;
}
/**main**/
.main-content{
    background-color: white;
    height: 94vh;
    display: flex;
    justify-content: center;
}
.main-h1-heading h1{
    font-size: 3rem;
    font-weight: 700;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
