*{
    margin: 0;
    padding: 0;
}
.background{
    width: 100%;
    display: flex;
    justify-content: center;
}
.option-back{
    margin-top: 1rem;
    width: 70%;
    height: 150vh;
    height: 150dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.option{
    width: 30%;
    height: 40%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-self: center;
    justify-items: center;
}
.li-option{
    background-color: white;
    color: black;
    font-family: Edwardian Script ITC, French Script MT, Lucida Handwriting, and Monotype Corsiva;
    border-bottom-left-radius: inherit;
    font-size: 1.5rem;
    border-bottom-right-radius: inherit;
    list-style: none;
    height: auto;
    width: 100%;
    text-align: center;
}
/**main work **/
.main-science-1{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center;

}
.main-sst-2{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center;
}
.main-hindi-3{
    background-image: url(image/hindi-reader-combo-for-web.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center;
}
.main-skt-4{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center;
}
.main-english-5{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center;
}
.main-math-6{
    background-image: url();
   background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center;
}

